*{
    margin: 0;
    padding: 0;
}


 
.nav-bar {
    background: rgb(173, 10, 10);
    height: 75px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 100;
}
  
ul {
    float: left;
    margin-left: 5%;
}

.socialtop {
    float: right;
    margin-right: 5%;
    padding-top: 10px;
}

ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin-left: 16px;
}

ul a {
    font-family: sans-serif;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 75px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
  
ul li:hover {
    background-color: #fbff00;
    color: black;
}

ul li a:hover {
    color: black;
    text-decoration: none;
}

.top-social a {
    padding: 13px;
    color: #fff;
}

.top-social {
    padding: 14px 15px;
}

.top-social a:hover {
    color: #fbff00;
}

.top-social a :active {
    opacity: 0.2;
    transition: 1s;
}

@media screen and (max-width: 1052px) {
    .toggle {
      display: block;
    }

  ul {
      z-index: -1;
      margin-top: -15px;
      position: fixed;
      top: -400px;
      right: 0;
      left: 0;
      width: 200px;
      background: #222222;
      display: inline-block;
      transition: top .4s;
      margin-left: 0;
    }
  ul.show {
      top: 60px;
    }
  ul li {
      top: 0;
      width: 100%;
      float: left;
      text-align: center;
    }
}

@media screen and (max-width:500px) {
    ul {
      width: 100%;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 40px;
    display: none;
    position: absolute;
    background-color: rgb(173, 10, 10);
    min-width: 122px;
    font-size: 18px;
    top: 34px;
    z-index: 1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-align: center;
    padding: 4px 4px;
    border-bottom: 1px solid;
    display: block; 
    transition: all 0.5s ease !important;
    height: 80px;
}

.dropdown-content a:hover {
    background-color: #c5c800;
    color: black;
    text-decoration: none;
}

.dropdown:hover .drop-button {
    background-color: #fbff00;
    color: black;
    text-decoration: none;
}

.banner {
    text-align: center;
    background-image: url(../images/Links.png);
    background-size: cover;
    background-position: center;
    top: 75px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #130f40;
    opacity: 0.7;
    z-index: -1;
}

.banner-text h2 {
    position: absolute;
    top: 30%;
    left: 40%;
    padding-top: 8%;
    font-size: 80px;
    color: white;
    font-family: arial;
    font-weight: 600;
}

.banner-text p {
    display: block;
    width: 100%;
    height: 400px;
    position: relative;
    background-color: white;
    top: 600px;
    left: 0px;
    z-index: 300;
}

/* Footer */

.footer-section {
    display: block;
    position: relative;
    top: 450px;
    left: 0px;
    bottom: 0px;
    z-index: 400;
}

.footer-container {
    background-color: #212329;
    padding: 3.5rem 0 2.5rem 0;;
    font-family: arial;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: #212329;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    font-size: 16.5px;
    padding-bottom: 3px;
    color: white;
    text-decoration: none;
    margin-bottom: 0.8rem;
    margin-bottom: 5px;
}

.footer-heading a:hover {
    color: yellow;
    transition: 0.3s ease-out;
    text-decoration: none;
}

.footer-newsletter {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-right: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#footer-email::placeholder {
    color: #5a5a5a;
    padding-left: 2px;
}

#footer-email-button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: red;
    outline: none;
    border: none;color: white;
    font-size: 1rem;
    margin-right: 3rem;
}

#footer-email-button:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(224, 195, 26);
    transition: all 0.35s ease-out;
}

#footer-email-button:active {
    opacity: 0.65;
    transition: 0.15s;
}

@media screen and (max-width: 1150px) {
    .footer {
        height: 50vh;
    }
    .footer-newsletter {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        display: none;
    }
    .footer-newsletter {
        margin-top: 2rem;
    }
}

